/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: 'lato';
}


/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
/* 
main {
    max-width: 1200px;
    margin: auto; 
}
 */
body {
    background-color: #e1e0e0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    padding-top: 3%;



}

article {
    /* rgba(175, 89, 158, 0.3); */
    padding: 3%;
    border-radius: 10px;
}


h1 {
    font-size: 250%;
}

h2 {
    font-size: 28px;
}

p {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
    padding: 16px;
}

section {
    max-width: 1200px;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 3%;

}

footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

strong {
    color: #643BD5;
    text-decoration: 1px double white;
}

/*************************Backgroud Colors**********************************/

.bg-dark {
    color: white;
    background-color: #333;
}

.bg-light {
    color: black;
    background-color: white;

}


.mobile {
    display: block;
    opacity: 1;
    visibility: visible;
}

#header-main {
    min-height: 90px;
    width: 100%;
    padding: 0px 3%;
    top: 0;
    left: 0;
    font-weight: bold;
    box-shadow:
        inset 0 0 0 2px rgb(255, 255, 255),
        0 0 1em rgba(0, 0, 0, 0.3);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    z-index: 9999;


}


/* 
.item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    /* 
    align-items: center; */
    width: 100%;
}

.link-contacto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-contacto li {
    border-radius: 15px;
    margin: 20px;
}

.link-contacto li:hover {
    box-shadow: 0px 3px 0px 0px #643BD5, 0px 5px 0px 0px #a45eda63;
}
.link-contacto img {
    height: 200px;
}

.button {

    display: inline-block;
    background:
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    color: #fbfbfb;
    font-size: 20px;
    border-radius: 100px;
    width: 200px;
    font-weight: bold;
    border: 1px solid white;

    margin: 20px;
    padding: 10px;
    text-align: center;
}



.button:hover {
    background:
        linear-gradient(-135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
}

.bg-banner.bg-dark {
    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, 0) 75%,
            rgba(255, 255, 255, 1)75%,
            rgba(255, 255, 255, 1)85%,
            rgba(0, 0, 0, 0) 85%),
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    /*    box-shadow:
        inset 0 0 0 2px rgb(255, 255, 255),
        0 0 1em rgba(0, 0, 0, 0.3); */
}

.bg-banner.bg-light {
    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, 0) 75%,
            #333 75%,
            #333 85%,
            rgba(0, 0, 0, 0) 85%),
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    /*   box-shadow:
        inset 0 0 0 2px #333,
        0 0 1em rgba(0, 0, 0, 0.3); */
}

.bg-banner2.bg-dark {
    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, 0) 15%,
            rgba(255, 255, 255, 1)15%,
            rgba(255, 255, 255, 1)25%,
            rgba(0, 0, 0, 0) 25%),
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    /*    box-shadow:
        inset 0 0 0 2px rgb(255, 255, 255),
        0 0 1em rgba(0, 0, 0, 0.3); */
}

.bg-banner2.bg-light {
    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, 0) 15%,
            #333 15%,
            #333 25%,
            rgba(0, 0, 0, 0) 25%),
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    /*   box-shadow:
        inset 0 0 0 2px #333,
        0 0 1em rgba(0, 0, 0, 0.3); */
}

.bg-principal.bg-light {

    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, 0) 15%,
            #333 15%,
            #333 25%,
            rgb(236, 6, 6, 0) 25%,
            white 25%,
            white 85%,
            rgb(236, 6, 6, 0) 85%),
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    /*   box-shadow:
        inset 0 0 0 2px #333,
        0 0 1em rgba(0, 0, 0, 0.3); */
}

.bg-principal.bg-dark {

    background:
        linear-gradient(135deg,
            rgba(0, 0, 0, 0) 15%,
            white 15%,
            white 25%,
            rgb(236, 6, 6, 0) 25%,
            #333 25%,
            #333 85%,
            rgb(236, 6, 6, 0) 85%),
        linear-gradient(135deg, #915CD4 0%, #A45EDA 40%, #643BD5);
    /*   box-shadow:
        inset 0 0 0 2px #333,
        0 0 1em rgba(0, 0, 0, 0.3); */
}

#banner {
    min-height: 400px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}


/* header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
} */

#foto {
    width: 50vh;
    max-width: 500px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid white;
}

#inicio article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

    /* 

    #inicio p {
        margin-bottom: 20px;
    } */


#contacto a {
    font-size: 70px;
}

#contacto a:hover {

    color: #643BD5;
}




.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center
}
.col-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}

#logo {
    display: none;
}

#logo-img {
    width: 140px;
    transition: 1s ease;
}

.menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 90%;
    transition: .3s cubic-bezier(.68, -0.55, .27, 1.55);
    z-index: 9999;
}

.menu-item {
    transition: .3s ease;
}

.menu-icon {
    width: 10%;
    top: 33px;
    left: 3%;
    cursor: pointer;
}

/* 
.menu-icon__line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
} */


.menu a {
    transition: color 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0px 5px;
}

.menu i {
    margin-right: 10%;
}

/* //#915CD4 0%, #A45EDA 40%, #643BD5 */
.active {
    background-color: #643BD5;
    color: white;
    border-radius: 5px;

    box-shadow: 0px 3px 3px 0px rgb(255, 255, 255);

    /*/mobile
    border :1px solid rgb(6, 74, 232, .5);
    box-shadow: 0px 3px 0px 0px  #643BD5;
    border-radius: 5px 5px 0px 0px;*/
}

.show-menu {
    display: flex;
    margin-top: 40px;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: .3s cubic-bezier(.68, -0.55, .27, 1.55);
}

.show-menu li {
    margin-top: 2px;
    padding: 5px 0;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    margin: 10px;
    border-radius: 15px;
    width: 90%;
    min-width: 262px;
    box-shadow: 0px 3px 0px 0px #643BD5;
    border: 1px solid #643BD5;
    background-color: white;
    color: black
}

.card:hover {
    box-shadow: 0px 3px 0px 0px #643BD5, 0px 5px 10px 10px #a45eda63;
}

div.img-container {
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
}

.img-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 250px;
    background-color: #333;
}

.img-container img {
    max-height: 250px;
    max-width: -webkit-fill-available;

}

.card h3 {
    margin: 10px;
}

.icons-buttons {

    display: flex;
    align-items: center;
    padding-top: 33px;
}

.modo-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    position: absolute;
    right: 4%;
    /* 
    top: 27.5px; */

}

.circle {
    border-radius: 50%;
}

/* creo una capa invisible con las medidas del header para que al 
hacer posision fixed no se me mueva el contenido */
.invisible {
    height: 90px;
    margin-bottom: 3%;
}

.img-side {
    width: 50%;
    padding: 5%;
    transform: rotateY(180deg);
}

.img-inline {
    display: none;
}

/*********Formulario de contacto******/

.form-main {
    /* background: linear-gradient(to bottom, #00000024, #00000024),
        url(https://res.cloudinary.com/dqifboxk5/image/upload/v1686209968/contact-us-2_y8zzx7.jpg) no-repeat center;
    background-size: cover; */
    /* 
    min-height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .main-wrapper {
        border-radius: 10px;
        padding: 45px;
        width: 40%;
        box-shadow: 0 0 5px 5px #00000020;
        /* backdrop-filter: blur(5px); */
        background-color: #C5AAECde;

        @media screen and (max-width: 991px) {
            width: 70%;
        }

        @media screen and (max-width: 767px) {
            width: 90%;
        }

        .form-head {
            margin: 0px 0 25px;
        }

        .form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            .form-card {
                position: relative;
                width: 100%;

                .form-input {
                    padding: 20px 25px 15px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 5px;
                    background: transparent;
                    outline: none;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    box-sizing: border-box;

                    &:valid,
                    &:focus {
                        border: 1px solid gray;
                    }

                    &:valid~.form-label,
                    &:focus~.form-label {
                        color: gray;
                        top: 30%;
                        transform: translateY(-70%);
                        font-size: 13px;
                        line-height: 23px;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        transition: background-color 9999s ease-in-out 0s;
                    }

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .form-label {
                    position: absolute;
                    left: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                    transition: 0.3s;
                    margin: 0;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                }

                .form-textarea {
                    padding: 20px 25px 15px;
                    width: 100%;
                    border: 1px solid black;
                    border-radius: 5px;
                    background: transparent;
                    outline: none;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    resize: none;
                    box-sizing: border-box;

                    &:valid,
                    &:focus {
                        border: 1px solid gray;
                    }

                    &:valid~.form-textarea-label,
                    &:focus~.form-textarea-label {
                        color: gray;
                        top: 18%;
                        transform: translateY(-82%);
                        font-size: 13px;
                        line-height: 23px;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        transition: background-color 9999s ease-in-out 0s;
                    }
                }

                .form-textarea-label {
                    position: absolute;
                    left: 25px;
                    top: 30%;
                    transform: translateY(-70%);
                    pointer-events: none;
                    transition: 0.3s;
                    margin: 0;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                }
            }
        }
    }
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 0;
}

.btn-wrap button {
    padding: 0 32px;
    font-size: 18px;
    line-height: 48px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 5px 5px #00000020;
}

.btn-wrap button:hover {
    border: 1px solid #000;
    background: transparent;

}


#go-top {
    margin: 0 3%;
    display: none;
    justify-content: center;
    align-items: center;
    
    right: 30px;
    position: fixed;
    bottom: 55px;
}

.animar{
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-name: updown;
    animation-direction: alternate;
    animation-iteration-count:infinite;
  }
  
  @keyframes updown{
    from{
      margin-top: 0px;
      margin-bottom: 20px;
    }
    to{
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }
  .h-custom{
    height: 220px;
  }
  .tablet {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.dos-border{
    border-radius: 0 30%;
    max-width: 400px;
}
/************************ tablet ******************************/
@media (min-width: 768px) {
    .card {
        width: 45%;
    }

    .tablet {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .desktop {
        display: none;
    }

    p {
        font-size: 18px;
    }

    .logo {
        position: absolute;
        width: 50%;
        margin: 0 23%;
        margin-top: -35px;
        align-items: center;
        justify-content: center;
    }

    .img-inline {
        display: block;
        width: 250px;
    }
    .img-inline.desktop {
        display: none;
    }
    h-custom{
        height: 200px;
    }
    .col-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: justify;
        justify-content: center;
        
    }
    #go-top {
        display: block;
        bottom: 30px;
    }

}

/************************** desktop ***************************/
@media (min-width: 1024px) {
    .desktop {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .mobile {
        display: none !important;
        opacity: 0;
        visibility: hidden;
    }

    .card {
        width: 30%;
    }

    .item-header {
        justify-content: space-between;
    }

    section,
    #inicio article {
        flex-direction: row;
    }

    h2 {
        font-size: 40px;
    }

    
    #inicio {
        height: 80vh;
    }
    main{
        display: flex;
        justify-content: center;
    }

    .col-2 {
        align-items: flex-start;
        text-align: left;
    }

    .menu-icon {
        display: none;
    }

    .item-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-self: center;
    }

    .navbar {
        justify-content: end;
    }

    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: end;
        margin-right: 50px;
        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .show-menu {
        margin-top: 0px;
        /* 
        background-color: #fff; */
    }

    .logo {
        position: initial;
        width: auto;
        top: auto;
        margin: 0;
        align-items: center;
        justify-content: start;
    }

    .active {

        background-color: white;
        color: black;

        box-shadow: 0px 3px 0px 0px #643BD5;

    }

    .menu a {
        border: none;

    }

    .menu a:hover {
        border: 1px solid white;
        color: #643BD5;
        box-shadow: 0px 3px 0px 0px #643BD5;
        border-radius: 5px 5px 0px 0px;

    }

    .bg-dark .menu a:hover {
        background-color: white;

    }

    .menu a.active {

        border: 1px solid rgb(6, 74, 232, .5);
        border-radius: 5px 5px 0px 0px;

    }

    .bg-dark .menu a.active {

        /* //#915CD4 0%, #A45EDA 40%, #643BD5 */
        background-color: #643BD5;
        color: white;
        border: 1px solid rgb(255, 255, 255, .5);
        border-radius: 5px 5px 0px 0px;

        box-shadow: 0px 3px 0px 0px rgb(255, 255, 255);

    }

    #header-main {
        box-shadow: 0 0 0 2px rgb(255, 255, 255),
            0 0 1em rgba(0, 0, 0, 0.3);
        transition: ease .3s;

    }

    .icons-buttons {

        display: flex;
        align-items: center;
        padding-top: 0;
        right: 6%;
    }
    .img-inline{
        
        display: inline-block;
        height: 15vh;
    }
    
#inicio article {
    
    height: 75vh;
}

.button{
    margin: 10px;
}
.img-inline.desktop {
    display: block;
}

   
}